# Introduction to Data Science with Python

Welcome! This notebook introduces the basics of data science using markdown and Python code cells.

Some of the most popular programming languages used in Data Science are:

1. Python  
2. R  
3. SQL  
4. Java  
5. Julia

Here are some commonly used data science libraries:

1. NumPy  
2. Pandas  
3. Scikit-learn  
4. Matplotlib  
5. TensorFlow

| Category         | Tool             |
|------------------|------------------|
| IDE              | Jupyter Notebook |
| Data Visualization | Tableau         |
| Machine Learning | TensorFlow       |
| Data Management  | Apache Hadoop    |
| Cloud Tool       | IBM Watson       |

The following code cells demonstrate basic arithmetic expressions such as addition and multiplication.

In [16]:
# Multiply and add two numbers
a = 5
b = 4
result = a * b + 10
result

30

In [18]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

In this notebook, we aim to:

- Understand Markdown formatting  
- Execute Python code in JupyterLite  
- Perform basic data operations  
- Use Data Science tools and libraries

**Author:** Mukti Arora